// =====================
// vars
// =====================

@color-blue: #2D8FCE;
//@color-blue-hover: #669ec0;
//@color-blue-active: #5496bd;

//@font-family-main: 'PT Sans', sans-serif;
//@font-header: 700 18px / 1 @font-family-main;

// =====================
// resets, overridings
// =====================

*,
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

// =====================
// font imports
// =====================

@font-face {
  font-family: 'Proxima Nova';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Proxima-Nova-Regular.woff) format('woff');
}

@font-face {
  font-family: 'Proxima Nova';
  font-style: normal;
  font-weight: 600;
  src: url(../fonts/Proxima-Nova-Semibold.woff) format('woff');
}

@font-face {
  font-family: 'Proxima Nova';
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/Proxima-Nova-Bold.woff) format('woff');
}

@font-face {
  font-family: 'Proxima Nova';
  font-style: normal;
  font-weight: 800;
  src: url(../fonts/Proxima-Nova-Extrabold.woff) format('woff');
}

// =====================
// common
// =====================

body {
  position: relative;
  font: 400 18px / 22px 'Proxima Nova';
  color: #4D4D4D;
}

a {
  text-decoration: none;
}

// Clearfix
//
// For modern browsers
// 1. The space content is one way to avoid an Opera bug when the
//    contenteditable attribute is included anywhere else in the document.
//    Otherwise it causes space to appear at the top and bottom of elements
//    that are clearfixed.
// 2. The use of `table` rather than `block` is only necessary if using
//    `:before` to contain the top-margins of child elements.
//
// Source: http://nicolasgallagher.com/micro-clearfix-hack/

.clearfix() {
  &:before,
  &:after {
    content: " "; // 1
    display: table; // 2
  }

  &:after {
    clear: both;
  }
}

.make-center(@element-width) {
  margin-left: auto;
  margin-right: auto;
  width: @element-width;
}

.wrapper {
  margin-left: auto;
  margin-right: auto;
  width: 1074px;
  padding-left: 25px;
  padding-right: 25px;
}

.row {
  .clearfix();
}

.col {
  float: left;
  width: 50%;
}

.btn {
  display: inline-block;
  border: none;
  border-radius: 5px;
  padding: 16px 27px 14px;
  background: @color-blue;
  color: #fff;
  font: 600 22px / 24px 'Proxima Nova';
  text-align: center;
  text-transform: uppercase;

  &.transparent {
    background: transparent;
    border: 3px solid white;
    transition: background .1s, color .1s;

    &:hover {
      background: #fff;
      border-color: #fff;
      color: @color-blue;
      box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.2);
    }
  }
}

// =====================
// block specific
// =====================

header.page {
  height: 160px;
}

section.billboard {
  padding-top: 54px;
  padding-bottom: 70px;
  color: #ffffff;
  background: url(../img/bg-cubes-blue.png);

  .bar {
    height: 13px;
    background: #fff;
  }

  h1 {
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 38px;
    font-weight: 700;
    line-height: 40px;
  }

  p {
    margin-top: 20px;
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
  }

  .footer {
    .clearfix();

    position: relative;
    margin-top: 50px;

    .product-labels {
      .label {
        position: absolute;
        right: 0;
        bottom: 16px;
        height: 32px;
        opacity: 0;

        &.fade-in {
          animation-name: fade-in;
          animation-duration: .5s;
          animation-delay: .25s;
          animation-fill-mode: forwards;
        }

        &.fade-out {
          animation-name: fade-out;
          animation-duration: .5s;
          animation-fill-mode: forwards;
        }

        @keyframes fade-in {
          0% {
            opacity: 0;
          }

          100% {
            opacity: 1;
          }
        }

        @keyframes fade-out {
          0% {
            opacity: 1;
          }

          100% {
            opacity: 0;
          }
        }

        &.brs {
          width: 234px;
          background: url(../img/label-brs.svg);
        }

        &.evs {
          width: 232px;
          background: url(../img/label-evs.svg);
        }

        &.ghs {
          width: 242px;
          background: url(../img/label-ghs.svg);
        }

        &.gsr {
          width: 237px;
          background: url(../img/label-gsr.svg);
        }

        &.lpr {
          width: 228px;
          background: url(../img/label-lpr.svg);
        }

        &.ran {
          width: 239px;
          background: url(../img/label-ran.svg);
        }

        &.stm {
          width: 238px;
          background: url(../img/label-stm.svg);
        }
      }
    }
  }

  .product-pics {
    @slider-height: 592px;
    @translate-step: 30%;

    position: relative;
    width: 100%;
    height: @slider-height;

    .bg-shadow {
      width: 100%;
      height: @slider-height;
      background: url(../img/bg-product-shadow.png) no-repeat 50% 50%;
    }

    .pic {
      position: absolute;
      top: 0;
      width: 100%;
      height: @slider-height;
      opacity: 0;

      animation-duration: .5s;
      animation-fill-mode: forwards;

      &.slide-in {
        animation-name: slide-in;
        animation-duration: .5s;
        animation-delay: .25s;
        animation-fill-mode: forwards;
      }

      &.slide-out {
        animation-name: slide-out;
        animation-duration: .5s;
        animation-fill-mode: forwards;
      }

      @keyframes slide-out {
        0% {
          opacity: 1;
        }

        100% {
          opacity: 0;
          transform: translateX(-@translate-step) scale(.9);
        }
      }

      @keyframes slide-in {
        0% {
          opacity: 0;
          transform: translateX(@translate-step) scale(.9);
        }

        100% {
          opacity: 1;
          transform: translateX(0%) scale(1);
        }
      }

      &.brs {
        background: url(../img/product-brs.png) no-repeat 50% 50%;
      }

      &.evs {
        background: url(../img/product-evs.png) no-repeat 50% 50%;
      }

      &.ghs {
        background: url(../img/product-ghs.png) no-repeat 50% 50%;
      }

      &.gsr {
        background: url(../img/product-gsr.png) no-repeat 50% 50%;
      }

      &.lpr {
        background: url(../img/product-lpr.png) no-repeat 50% 50%;
      }

      &.ran {
        background: url(../img/product-ran.png) no-repeat 50% 50%;
      }

      &.stm {
        background: url(../img/product-stm.png) no-repeat 50% 50%;
      }
    }
  }
}

section.numbers {
  padding-top: 54px;
  padding-bottom: 69px;
  background: url(../img/bg-cubes-gray.png);

  .col.digits {
    color: @color-blue;

    .row {
      &:nth-child(1) {
        height: 60px;
      }

      &:nth-child(2) {
        height: 124px;
      }

      &:nth-child(3),
      &:nth-child(4) {
        height: 127px;
      }

      .num {
        font-size: 90px;
        line-height: 65px;
        font-weight: 800;

        &.pull-ones {
          position: relative;
          left: -10px;
        }

        &.pull-fives {
          position: relative;
          left: -5px;
        }
      }

      .descr {
        font-size: 18px;
        line-height: 17px;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: .05em;
      }
    }
  }

  .col.text {
    .bar {
      margin-bottom: 40px;
      height: 13px;
      background: @color-blue;
    }

    h1 {
      margin-top: 40px;
      margin-bottom: 44px;
      font-size: 38px;
      font-weight: 700;
      line-height: 40px;
      color: @color-blue;
    }

    p {
      margin-top: 20px;
    }
  }
}

body.product.lpr {
  section.billboard {
    padding-top: 54px;
    padding-bottom: 70px;
    color: #ffffff;
    background: url(../img/bg-cubes-blue.png);

    .col:nth-child(1) {
      .bar {
        height: 13px;
        background: #fff;
      }

      h1 {
        margin-top: 40px;
        margin-bottom: 25px;
        font-size: 38px;
        font-weight: 700;
        line-height: 40px;
      }

      .label {
        width: 485px;
        height: 110px;
        background: url(../img/label-lpr.svg) no-repeat 50% 50%;
        background-size: 485px 110px;
      }

      h2 {
        margin-top: 22px;
        font-size: 29px;
        line-height: 28px;
      }

      .btn {
        margin-top: 51px;
        width: 100%;
      }
    }

    .col:nth-child(2) {
      .product-pics {
        @slider-height: 592px;
        @translate-step: 30%;

        position: relative;
        width: 100%;
        height: @slider-height;

        .image {
          position: absolute;
          top: 0;
          width: 100%;
          height: @slider-height;
          background: url(../img/product-lpr.png) no-repeat 50% 50%;
        }
      }
    }
  }

  section.descr {
    padding-top: 65px;
    padding-bottom: 55px;

    .col:nth-child(1) {
      ul {
        margin-top: 5px;
        border: 13px solid @color-blue;
        width: 476px;
        padding: 53px 60px;

        li {
          position: relative;

          &:before {
            content: "—";
            position: absolute;
            left: -22px;
            top: -1px;
          }

          &:not(:first-child) {
            margin-top: 27px;
          }
        }
      }
    }

    .col:nth-child(2) {
      p:not(:first-child) {
        margin-top: 20px;
      }
    }
  }

  section.product-versions {
    padding-top: 34px;
    padding-bottom: 43px;
    background: url(../img/bg-cubes-gray.png);

    .col.version,
    .row.version {
      .image {
        height: 566px;

        background: green;
        border: 5px solid red;
      }

      h1 {
        display: inline-block;
        margin-top: 33px;
        border-top: 13px solid @color-blue;
        padding-top: 42px;
        font-size: 38px;
        font-weight: 700;
        line-height: 40px;
        color: @color-blue;
      }

      p {
        margin-top: 20px;
        width: 475px;
      }
    }

    .row.version {
      &:not(:first-child) {
        margin-top: 20px;
      }
    }
  }

  section.modules {
    padding-top: 70px;

    h1 {
      display: inline-block;
      border-top: 13px solid @color-blue;
      padding-top: 42px;
      font-size: 38px;
      font-weight: 700;
      line-height: 40px;
      color: @color-blue;
    }

    p {
      margin-top: 20px;
      width: 475px;
    }
  }
}