*,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
@font-face {
  font-family: 'Proxima Nova';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Proxima-Nova-Regular.woff) format('woff');
}
@font-face {
  font-family: 'Proxima Nova';
  font-style: normal;
  font-weight: 600;
  src: url(../fonts/Proxima-Nova-Semibold.woff) format('woff');
}
@font-face {
  font-family: 'Proxima Nova';
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/Proxima-Nova-Bold.woff) format('woff');
}
@font-face {
  font-family: 'Proxima Nova';
  font-style: normal;
  font-weight: 800;
  src: url(../fonts/Proxima-Nova-Extrabold.woff) format('woff');
}
body {
  position: relative;
  font: 400 18px / 22px 'Proxima Nova';
  color: #4D4D4D;
}
a {
  text-decoration: none;
}
.wrapper {
  margin-left: auto;
  margin-right: auto;
  width: 1074px;
  padding-left: 25px;
  padding-right: 25px;
}
.row:before,
.row:after {
  content: " ";
  display: table;
}
.row:after {
  clear: both;
}
.col {
  float: left;
  width: 50%;
}
.btn {
  display: inline-block;
  border: none;
  border-radius: 5px;
  padding: 16px 27px 14px;
  background: #2D8FCE;
  color: #fff;
  font: 600 22px / 24px 'Proxima Nova';
  text-align: center;
  text-transform: uppercase;
}
.btn.transparent {
  background: transparent;
  border: 3px solid white;
  transition: background .1s, color .1s;
}
.btn.transparent:hover {
  background: #fff;
  border-color: #fff;
  color: #2D8FCE;
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.2);
}
header.page {
  height: 160px;
}
section.billboard {
  padding-top: 54px;
  padding-bottom: 70px;
  color: #ffffff;
  background: url(../img/bg-cubes-blue.png);
}
section.billboard .fade-in {
  animation-name: fade-in;
  animation-duration: .5s;
  animation-delay: .25s;
  animation-fill-mode: forwards;
}
section.billboard .fade-out {
  animation-name: fade-out;
  animation-duration: .5s;
  animation-fill-mode: forwards;
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
section.billboard .bar {
  height: 13px;
  background: #fff;
}
section.billboard h1 {
  margin-top: 40px;
  margin-bottom: 40px;
  font-size: 38px;
  font-weight: 700;
  line-height: 40px;
}
section.billboard p {
  margin-top: 20px;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
}
section.billboard .footer {
  position: relative;
  margin-top: 50px;
}
section.billboard .footer:before,
section.billboard .footer:after {
  content: " ";
  display: table;
}
section.billboard .footer:after {
  clear: both;
}
section.billboard .footer .btn.learn-more {
  opacity: 0;
}
section.billboard .footer .product-labels .label {
  position: absolute;
  right: 0;
  bottom: 16px;
  height: 32px;
  opacity: 0;
}
section.billboard .footer .product-labels .label.brs {
  width: 234px;
  background: url(../img/label-brs.svg);
}
section.billboard .footer .product-labels .label.evs {
  width: 232px;
  background: url(../img/label-evs.svg);
}
section.billboard .footer .product-labels .label.ghs {
  width: 242px;
  background: url(../img/label-ghs.svg);
}
section.billboard .footer .product-labels .label.gsr {
  width: 237px;
  background: url(../img/label-gsr.svg);
}
section.billboard .footer .product-labels .label.lpr {
  width: 228px;
  background: url(../img/label-lpr.svg);
}
section.billboard .footer .product-labels .label.ran {
  width: 239px;
  background: url(../img/label-ran.svg);
}
section.billboard .footer .product-labels .label.stm {
  width: 238px;
  background: url(../img/label-stm.svg);
}
section.billboard .product-pics {
  position: relative;
  width: 100%;
  height: 592px;
}
section.billboard .product-pics .bg-shadow {
  width: 100%;
  height: 592px;
  background: url(../img/bg-product-shadow.png) no-repeat 50% 50%;
  opacity: 0;
}
section.billboard .product-pics .pic {
  position: absolute;
  top: 0;
  width: 100%;
  height: 592px;
  opacity: 0;
  animation-duration: .5s;
  animation-fill-mode: forwards;
}
section.billboard .product-pics .pic.slide-in {
  animation-name: slide-in;
  animation-duration: .5s;
  animation-delay: .25s;
  animation-fill-mode: forwards;
}
section.billboard .product-pics .pic.slide-out {
  animation-name: slide-out;
  animation-duration: .5s;
  animation-fill-mode: forwards;
}
@keyframes slide-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateX(-30%) scale(0.9);
  }
}
@keyframes slide-in {
  0% {
    opacity: 0;
    transform: translateX(30%) scale(0.9);
  }
  100% {
    opacity: 1;
    transform: translateX(0%) scale(1);
  }
}
section.billboard .product-pics .pic.brs {
  background: url(../img/brs_standard.png) no-repeat 50% 50%;
}
section.billboard .product-pics .pic.evs {
  background: url(../img/evs_standard.png) no-repeat 50% 50%;
}
section.billboard .product-pics .pic.ghs {
  background: url(../img/ghs_standard.png) no-repeat 50% 50%;
}
section.billboard .product-pics .pic.gsr {
  background: url(../img/gsr_standard.png) no-repeat 50% 50%;
}
section.billboard .product-pics .pic.lpr {
  background: url(../img/lpr_standard.png) no-repeat 50% 50%;
}
section.billboard .product-pics .pic.ran {
  background: url(../img/ran_standard.png) no-repeat 50% 50%;
}
section.billboard .product-pics .pic.stm {
  background: url(../img/stm_standard.png) no-repeat 50% 50%;
}
section.numbers {
  padding-top: 54px;
  padding-bottom: 69px;
  background: url(../img/bg-cubes-gray.png);
}
section.numbers .col.digits {
  color: #2D8FCE;
}
section.numbers .col.digits .row:nth-child(1) {
  height: 60px;
}
section.numbers .col.digits .row:nth-child(2) {
  height: 124px;
}
section.numbers .col.digits .row:nth-child(3),
section.numbers .col.digits .row:nth-child(4) {
  height: 127px;
}
section.numbers .col.digits .row .num {
  font-size: 90px;
  line-height: 65px;
  font-weight: 800;
}
section.numbers .col.digits .row .num.pull-ones {
  position: relative;
  left: -10px;
}
section.numbers .col.digits .row .num.pull-fives {
  position: relative;
  left: -5px;
}
section.numbers .col.digits .row .descr {
  font-size: 18px;
  line-height: 17px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .05em;
}
section.numbers .col.text .bar {
  margin-bottom: 40px;
  height: 13px;
  background: #2D8FCE;
}
section.numbers .col.text h1 {
  margin-top: 40px;
  margin-bottom: 44px;
  font-size: 38px;
  font-weight: 700;
  line-height: 40px;
  color: #2D8FCE;
}
section.numbers .col.text p {
  margin-top: 20px;
}
section.distributor {
  margin-bottom: 364px;
  padding-top: 54px;
  padding-bottom: 87px;
  background: url(../img/bg-cubes-blue.png);
  color: #ffffff;
}
section.distributor .col:first-child {
  position: relative;
  top: 37px;
  width: 252px;
}
section.distributor .col:first-child .logo {
  width: 160px;
  height: 75px;
  background: url(../img/logo-distributor.svg);
}
section.distributor .col:first-child h3 {
  margin-top: 23px;
  font-size: 18px;
  line-height: 1;
  font-weight: 800;
}
section.distributor .col:first-child p {
  margin-top: 20px;
}
section.distributor .col:first-child p a {
  color: #ffffff;
}
section.distributor .col:last-child {
  width: 772px;
}
section.distributor .col:last-child h1 {
  display: inline-block;
  border-top: 13px solid #fff;
  padding-top: 42px;
  font-size: 38px;
  font-weight: 700;
  line-height: 40px;
}
section.distributor .col:last-child p:first-of-type {
  margin-top: 37px;
}
section.distributor .col:last-child p:last-of-type {
  margin-top: 20px;
}
body.product section.billboard {
  padding-top: 54px;
  padding-bottom: 70px;
  color: #ffffff;
  background: url(../img/bg-cubes-blue.png);
}
body.product section.billboard .col:nth-child(1) .bar {
  height: 13px;
  background: #fff;
}
body.product section.billboard .col:nth-child(1) h1 {
  margin-top: 40px;
  margin-bottom: 25px;
  font-size: 38px;
  font-weight: 700;
  line-height: 40px;
}
body.product section.billboard .col:nth-child(1) .label {
  width: 485px;
  height: 110px;
}
body.product section.billboard .col:nth-child(1) h2 {
  margin-top: 22px;
  font-size: 29px;
  line-height: 28px;
}
body.product section.billboard .col:nth-child(1) .btn {
  margin-top: 51px;
  width: 476px;
}
body.product section.billboard .col:nth-child(2) .product-pic {
  position: relative;
  width: 100%;
  height: 592px;
}
body.product section.billboard .col:nth-child(2) .product-pic .bg-shadow {
  width: 100%;
  height: 592px;
  background: url(../img/bg-product-shadow.png) no-repeat 50% 50%;
}
body.product section.billboard .col:nth-child(2) .product-pic .image {
  position: absolute;
  top: 0;
  width: 100%;
  height: 592px;
}
body.product section.descr {
  padding-top: 65px;
  padding-bottom: 55px;
}
body.product section.descr .col:nth-child(1) ul {
  margin-top: 5px;
  border: 13px solid #2D8FCE;
  width: 476px;
  padding: 53px 60px;
}
body.product section.descr .col:nth-child(1) ul li {
  position: relative;
}
body.product section.descr .col:nth-child(1) ul li:before {
  content: "—";
  position: absolute;
  left: -22px;
  top: -1px;
}
body.product section.descr .col:nth-child(1) ul li:not(:first-child) {
  margin-top: 27px;
}
body.product section.descr .col:nth-child(2) p:not(:first-child) {
  margin-top: 20px;
}
body.product section.product-versions {
  padding-top: 34px;
  padding-bottom: 43px;
  background: url(../img/bg-cubes-gray.png);
}
body.product section.product-versions .row:not(:first-child) {
  margin-top: 20px;
}
body.product section.product-versions .col.version .image {
  height: 566px;
}
body.product section.product-versions .col.version h1 {
  display: inline-block;
  margin-top: 33px;
  border-top: 13px solid #2D8FCE;
  padding-top: 42px;
  font-size: 38px;
  font-weight: 700;
  line-height: 40px;
  color: #2D8FCE;
}
body.product section.product-versions .col.version p {
  margin-top: 20px;
  width: 475px;
}
body.product section.modules {
  padding-top: 70px;
}
body.product section.modules h1 {
  display: inline-block;
  border-top: 13px solid #2D8FCE;
  padding-top: 42px;
  font-size: 38px;
  font-weight: 700;
  line-height: 40px;
  color: #2D8FCE;
}
body.product section.modules p {
  margin-top: 38px;
  width: 475px;
}
body.product section.modules ul {
  margin-top: 37px;
  padding-left: 22px;
}
body.product section.modules ul li {
  position: relative;
}
body.product section.modules ul li:before {
  content: "—";
  position: absolute;
  left: -22px;
  top: -1px;
}
body.product section.modules ul li:not(:first-child) {
  margin-top: 27px;
}
body.product section.modules .row {
  margin-top: 65px;
}
body.product section.modules .row .module {
  float: left;
  width: 50%;
}
body.product section.modules .row .module .image {
  width: 210px;
  height: 210px;
  background: #000;
}
body.product section.modules .row .module h3 {
  margin-top: 16px;
  padding-right: 25px;
  font-size: 17px;
  line-height: 19px;
  color: #000;
}
body.product section.modules .row .module p {
  margin-top: 16px;
  width: 100%;
  padding-right: 35px;
  font-size: 15px;
  line-height: 18px;
}
body.product section.wrap-up {
  margin-top: 90px;
  margin-bottom: 113px;
}
body.product section.wrap-up p {
  margin-top: 20px;
  padding-right: 20px;
}
body.product section.wrap-up ul {
  margin-top: 20px;
  padding-left: 22px;
}
body.product section.wrap-up ul li {
  position: relative;
}
body.product section.wrap-up ul li:before {
  content: "—";
  position: absolute;
  left: -22px;
  top: -1px;
}
body.product section.wrap-up ul li:not(:first-child) {
  margin-top: 27px;
}
body.product section.distributor {
  margin-bottom: 364px;
  padding-top: 54px;
  padding-bottom: 87px;
  background: url(../img/bg-cubes-blue.png);
  color: #ffffff;
}
body.product section.distributor .col:first-child {
  position: relative;
  top: 37px;
  width: 252px;
}
body.product section.distributor .col:first-child .logo {
  width: 160px;
  height: 75px;
  background: url(../img/logo-distributor.svg);
}
body.product section.distributor .col:first-child h3 {
  margin-top: 23px;
  font-size: 18px;
  line-height: 1;
  font-weight: 800;
}
body.product section.distributor .col:first-child p {
  margin-top: 20px;
}
body.product section.distributor .col:first-child p a {
  color: #ffffff;
}
body.product section.distributor .col:last-child {
  width: 772px;
}
body.product section.distributor .col:last-child h1 {
  display: inline-block;
  border-top: 13px solid #fff;
  padding-top: 42px;
  font-size: 38px;
  font-weight: 700;
  line-height: 40px;
}
body.product section.distributor .col:last-child p:first-of-type {
  margin-top: 37px;
}
body.product section.distributor .col:last-child p:last-of-type {
  margin-top: 20px;
}
body.product.lpr section.billboard .col:nth-child(1) .label {
  background: url(../img/label-lpr.svg) no-repeat 50% 50%;
  background-size: 485px 110px;
}
body.product.lpr section.billboard .col:nth-child(2) .product-pic .image {
  background: url(../img/lpr_standard.png) no-repeat 50% 50%;
}
body.product.lpr section.product-versions .row .col.version.basic .image {
  background: url(../img/lpr_basic.png) no-repeat 50% 50%;
}
body.product.lpr section.product-versions .row .col.version.standard .image {
  background: url(../img/lpr_standard.png) no-repeat 50% 50%;
  background-size: 415px 566px;
}
body.product.lpr section.product-versions .row .col.version.hybrid .image {
  background: url(../img/lpr_hybrid.png) no-repeat 50% 50%;
}
body.product.lpr section.modules .row:nth-of-type(1) .col:nth-of-type(1) .module:nth-of-type(1) .image {
  background: url(../img/laparo_module_1.png) no-repeat 50% 50%;
}
body.product.lpr section.modules .row:nth-of-type(1) .col:nth-of-type(1) .module:nth-of-type(2) .image {
  background: url(../img/laparo_module_2.png) no-repeat 50% 50%;
}
body.product.lpr section.modules .row:nth-of-type(1) .col:nth-of-type(2) .module:nth-of-type(1) .image {
  background: url(../img/laparo_module_3.png) no-repeat 50% 50%;
}
body.product.lpr section.modules .row:nth-of-type(1) .col:nth-of-type(2) .module:nth-of-type(2) .image {
  background: url(../img/laparo_module_4.png) no-repeat 50% 50%;
}
body.product.lpr section.modules .row:nth-of-type(2) .col:nth-of-type(1) .module:nth-of-type(1) .image {
  background: url(../img/laparo_module_5.png) no-repeat 50% 50%;
}
body.product.lpr section.modules .row:nth-of-type(2) .col:nth-of-type(1) .module:nth-of-type(2) .image {
  background: url(../img/laparo_module_6.png) no-repeat 50% 50%;
}
body.product.lpr section.modules .row:nth-of-type(2) .col:nth-of-type(2) .module:nth-of-type(1) .image {
  background: url(../img/laparo_module_7.png) no-repeat 50% 50%;
}
body.product.lpr section.modules .row:nth-of-type(2) .col:nth-of-type(2) .module:nth-of-type(2) .image {
  background: url(../img/laparo_module_8.png) no-repeat 50% 50%;
}
body.product.lpr section.modules .row:nth-of-type(3) .col:nth-of-type(1) .module:nth-of-type(1) .image {
  background: url(../img/laparo_module_9.png) no-repeat 50% 50%;
}
body.product.lpr section.modules .row:nth-of-type(3) .col:nth-of-type(1) .module:nth-of-type(2) .image {
  background: url(../img/laparo_module_10.png) no-repeat 50% 50%;
}
body.product.evs section.billboard .col:nth-child(1) .label {
  background: url(../img/label-evs.svg) no-repeat 50% 50%;
  background-size: 485px 110px;
}
body.product.evs section.billboard .col:nth-child(2) .product-pic .image {
  background: url(../img/evs_standard.png) no-repeat 50% 50%;
}
body.product.evs section.product-versions .row .col.version.basic .image {
  background: url(../img/evs_basic.png) no-repeat 50% 50%;
}
body.product.evs section.product-versions .row .col.version.standard .image {
  background: url(../img/evs_standard.png) no-repeat 50% 50%;
}
body.product.evs section.product-versions .row .col.version.hybrid .image {
  background: url(../img/evs_hybrid.png) no-repeat 50% 50%;
}
body.product.evs section.modules .row:nth-of-type(1) .col:nth-of-type(1) .module:nth-of-type(1) .image {
  background: url(../img/product-evs_learn-module-1.jpg) no-repeat 50% 50%;
}
body.product.evs section.modules .row:nth-of-type(1) .col:nth-of-type(1) .module:nth-of-type(2) .image {
  background: url(../img/product-evs_learn-module-2.jpg) no-repeat 50% 50%;
}
body.product.evs section.modules .row:nth-of-type(1) .col:nth-of-type(2) .module:nth-of-type(1) .image {
  background: url(../img/product-evs_learn-module-3.jpg) no-repeat 50% 50%;
}
body.product.evs section.modules .row:nth-of-type(1) .col:nth-of-type(2) .module:nth-of-type(2) .image {
  background: url(../img/product-evs_learn-module-4.jpg) no-repeat 50% 50%;
}
body.product.evs section.modules .row:nth-of-type(2) .col:nth-of-type(1) .module:nth-of-type(1) .image {
  background: url(../img/product-evs_learn-module-5.jpg) no-repeat 50% 50%;
}
body.product.evs section.modules .row:nth-of-type(2) .col:nth-of-type(1) .module:nth-of-type(2) .image {
  background: url(../img/product-evs_learn-module-6.jpg) no-repeat 50% 50%;
}
body.product.evs section.modules .row:nth-of-type(2) .col:nth-of-type(2) .module:nth-of-type(1) .image {
  background: url(../img/product-evs_learn-module-7.jpg) no-repeat 50% 50%;
}
body.product.evs section.modules .row:nth-of-type(2) .col:nth-of-type(2) .module:nth-of-type(2) .image {
  background: url(../img/product-evs_learn-module-8.jpg) no-repeat 50% 50%;
}
body.product.brs section.billboard .col:nth-child(1) .label {
  background: url(../img/label-brs.svg) no-repeat 50% 50%;
  background-size: 485px 110px;
}
body.product.brs section.billboard .col:nth-child(2) .product-pic .image {
  background: url(../img/brs_standard.png) no-repeat 50% 50%;
}
body.product.brs section.product-versions .row .col.version.standard .image {
  background: url(../img/brs_standard.png) no-repeat 50% 50%;
}
body.product.brs section.modules .row:nth-of-type(1) .col:nth-of-type(1) .module:nth-of-type(1) .image {
  background: url(../img/product-bronch_learn-module-1.jpg) no-repeat 50% 50%;
}
body.product.brs section.modules .row:nth-of-type(1) .col:nth-of-type(1) .module:nth-of-type(2) .image {
  background: url(../img/product-bronch_learn-module-2.jpg) no-repeat 50% 50%;
}
body.product.brs section.modules .row:nth-of-type(1) .col:nth-of-type(2) .module:nth-of-type(1) .image {
  background: url(../img/product-bronch_learn-module-3.jpg) no-repeat 50% 50%;
}
body.product.brs section.modules .row:nth-of-type(1) .col:nth-of-type(2) .module:nth-of-type(2) .image {
  background: url(../img/product-bronch_learn-module-4.jpg) no-repeat 50% 50%;
}
body.product.brs section.modules .row:nth-of-type(2) .col:nth-of-type(1) .module:nth-of-type(1) .image {
  background: url(../img/product-bronch_learn-module-5.jpg) no-repeat 50% 50%;
}
body.product.ghs section.billboard .col:nth-child(1) .label {
  background: url(../img/label-ghs.svg) no-repeat 50% 50%;
  background-size: 485px 110px;
}
body.product.ghs section.billboard .col:nth-child(2) .product-pic .image {
  background: url(../img/ghs_standard.png) no-repeat 50% 50%;
}
body.product.ghs section.product-versions .row .col.version.basic .image {
  background: url(../img/ghs_basic.png) no-repeat 50% 50%;
}
body.product.ghs section.product-versions .row .col.version.standard .image {
  background: url(../img/ghs_standard.png) no-repeat 50% 50%;
}
body.product.ghs section.modules .row:nth-of-type(1) .col:nth-of-type(1) .module:nth-of-type(1) .image {
  background: url(../img/product-hyst_learn-module-1.jpg) no-repeat 50% 50%;
}
body.product.ghs section.modules .row:nth-of-type(1) .col:nth-of-type(1) .module:nth-of-type(2) .image {
  background: url(../img/product-hyst_learn-module-2.jpg) no-repeat 50% 50%;
}
body.product.ghs section.modules .row:nth-of-type(1) .col:nth-of-type(2) .module:nth-of-type(1) .image {
  background: url(../img/product-hyst_learn-module-3.jpg) no-repeat 50% 50%;
}
body.product.ghs section.modules .row:nth-of-type(1) .col:nth-of-type(2) .module:nth-of-type(2) .image {
  background: url(../img/product-hyst_learn-module-4.jpg) no-repeat 50% 50%;
}
body.product.ghs section.modules .row:nth-of-type(2) .col:nth-of-type(1) .module:nth-of-type(1) .image {
  background: url(../img/product-hyst_learn-module-5.jpg) no-repeat 50% 50%;
}
body.product.gsr section.billboard .col:nth-child(1) .label {
  background: url(../img/label-gsr.svg) no-repeat 50% 50%;
  background-size: 485px 110px;
}
body.product.gsr section.billboard .col:nth-child(2) .product-pic .image {
  background: url(../img/gsr_standard.png) no-repeat 50% 50%;
}
body.product.gsr section.product-versions .row .col.version.standard .image {
  background: url(../img/gsr_standard.png) no-repeat 50% 50%;
}
body.product.gsr section.modules .row:nth-of-type(1) .col:nth-of-type(1) .module:nth-of-type(1) .image {
  background: url(../img/product-endo_learn-module-1.jpg) no-repeat 50% 50%;
}
body.product.gsr section.modules .row:nth-of-type(1) .col:nth-of-type(1) .module:nth-of-type(2) .image {
  background: url(../img/product-endo_learn-module-2.jpg) no-repeat 50% 50%;
}
body.product.gsr section.modules .row:nth-of-type(1) .col:nth-of-type(2) .module:nth-of-type(1) .image {
  background: url(../img/product-endo_learn-module-3.jpg) no-repeat 50% 50%;
}
body.product.gsr section.modules .row:nth-of-type(1) .col:nth-of-type(2) .module:nth-of-type(2) .image {
  background: url(../img/product-endo_learn-module-4.jpg) no-repeat 50% 50%;
}
body.product.gsr section.modules .row:nth-of-type(2) .col:nth-of-type(1) .module:nth-of-type(1) .image {
  background: url(../img/product-endo_learn-module-5.jpg) no-repeat 50% 50%;
}
body.product.gsr section.modules .row:nth-of-type(2) .col:nth-of-type(1) .module:nth-of-type(2) .image {
  background: url(../img/product-endo_learn-module-6.jpg) no-repeat 50% 50%;
}
body.product.gsr section.modules .row:nth-of-type(2) .col:nth-of-type(2) .module:nth-of-type(1) .image {
  background: url(../img/product-endo_learn-module-7.jpg) no-repeat 50% 50%;
}
body.product.gsr section.modules .row:nth-of-type(2) .col:nth-of-type(2) .module:nth-of-type(2) .image {
  background: url(../img/product-endo_learn-module-8.jpg) no-repeat 50% 50%;
}
body.product.stm section.billboard .col:nth-child(1) .label {
  background: url(../img/label-stm.svg) no-repeat 50% 50%;
  background-size: 485px 110px;
}
body.product.stm section.billboard .col:nth-child(1) .btn {
  margin-top: 78px;
}
body.product.stm section.billboard .col:nth-child(2) .product-pic .image {
  background: url(../img/stm_standard.png) no-repeat 50% 50%;
}
body.product.stm section.descr .wrapper {
  position: relative;
  height: 685px;
}
body.product.stm section.descr .wrapper .bg-image {
  position: absolute;
  right: 24px;
  bottom: -55px;
  width: 512px;
  height: 297px;
  background: url(../img/bg-stm-descr.png) no-repeat 50% 50%;
}
body.product.stm section.product-versions .row .col.version.standard .image {
  background: url(../img/stm_standard.png) no-repeat 50% 50%;
}
body.product.stm section.product-versions .row .col.version.hybrid .image {
  background: url(../img/stm_hybrid.png) no-repeat 50% 50%;
}
body.product.ran section.billboard .col:nth-child(1) .label {
  background: url(../img/label-ran.svg) no-repeat 50% 50%;
  background-size: 485px 110px;
}
body.product.ran section.billboard .col:nth-child(1) .btn {
  margin-top: 78px;
}
body.product.ran section.billboard .col:nth-child(2) .product-pic .image {
  background: url(../img/ran_standard.png) no-repeat 50% 50%;
}
body.product.ran section.product-versions .row .col.version.main .image {
  position: relative;
  width: 1024px;
  background: url(../img/ran_main.png) no-repeat 50% 50%;
}
body.product-list section.product {
  padding-top: 54px;
  padding-bottom: 70px;
  color: #ffffff;
  background: url(../img/bg-cubes-blue.png);
}
body.product-list section.product .col.text .bar {
  height: 13px;
  background: #fff;
}
body.product-list section.product .col.text h1 {
  margin-top: 40px;
  margin-bottom: 25px;
  font-size: 38px;
  font-weight: 700;
  line-height: 40px;
}
body.product-list section.product .col.text .label {
  width: 485px;
  height: 110px;
}
body.product-list section.product .col.text h2 {
  margin-top: 22px;
  font-size: 29px;
  line-height: 28px;
}
body.product-list section.product .col.text .btn {
  margin-top: 51px;
}
body.product-list section.product .col.visual .product-pic {
  position: relative;
  width: 100%;
  height: 592px;
}
body.product-list section.product .col.visual .product-pic .bg-shadow {
  width: 100%;
  height: 592px;
  background: url(../img/bg-product-shadow.png) no-repeat 50% 50%;
}
body.product-list section.product .col.visual .product-pic .image {
  position: absolute;
  top: 0;
  width: 100%;
  height: 592px;
}
body.product-list section.product.brs .col.text .label {
  background: url(../img/label-brs.svg) no-repeat 50% 50%;
  background-size: 485px 110px;
}
body.product-list section.product.brs .col.visual .product-pic .image {
  background: url(../img/brs_standard.png) no-repeat 50% 50%;
}
body.product-list section.product.evs .col.text .label {
  background: url(../img/label-evs.svg) no-repeat 50% 50%;
  background-size: 485px 110px;
}
body.product-list section.product.evs .col.visual .product-pic .image {
  background: url(../img/evs_standard.png) no-repeat 50% 50%;
}
body.product-list section.product.ghs .col.text .label {
  background: url(../img/label-ghs.svg) no-repeat 50% 50%;
  background-size: 485px 110px;
}
body.product-list section.product.ghs .col.visual .product-pic .image {
  background: url(../img/ghs_standard.png) no-repeat 50% 50%;
}
body.product-list section.product.gsr .col.text .label {
  background: url(../img/label-gsr.svg) no-repeat 50% 50%;
  background-size: 485px 110px;
}
body.product-list section.product.gsr .col.visual .product-pic .image {
  background: url(../img/gsr_standard.png) no-repeat 50% 50%;
}
body.product-list section.product.lpr .col.text .label {
  background: url(../img/label-lpr.svg) no-repeat 50% 50%;
  background-size: 485px 110px;
}
body.product-list section.product.lpr .col.visual .product-pic .image {
  background: url(../img/lpr_standard.png) no-repeat 50% 50%;
}
body.product-list section.product.ran .col.text .label {
  background: url(../img/label-ran.svg) no-repeat 50% 50%;
  background-size: 485px 110px;
}
body.product-list section.product.ran .col.visual .product-pic .image {
  background: url(../img/ran_standard.png) no-repeat 50% 50%;
}
body.product-list section.product.stm .col.text .label {
  background: url(../img/label-stm.svg) no-repeat 50% 50%;
  background-size: 485px 110px;
}
body.product-list section.product.stm .col.visual .product-pic .image {
  background: url(../img/stm_standard.png) no-repeat 50% 50%;
}
