// =====================
// vars
// =====================

@color-blue: #2D8FCE;
//@color-blue-hover: #669ec0;
//@color-blue-active: #5496bd;

//@font-family-main: 'PT Sans', sans-serif;
//@font-header: 700 18px / 1 @font-family-main;

// =====================
// resets, overridings
// =====================

*,
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

// =====================
// font imports
// =====================

@font-face {
  font-family: 'Proxima Nova';
  font-style: normal;
  font-weight: 300;
  src: url(../fonts/Proxima-Nova-Light.woff) format('woff');
}

@font-face {
  font-family: 'Proxima Nova';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Proxima-Nova-Regular.woff) format('woff');
}

@font-face {
  font-family: 'Proxima Nova';
  font-style: normal;
  font-weight: 600;
  src: url(../fonts/Proxima-Nova-Semibold.woff) format('woff');
}

@font-face {
  font-family: 'Proxima Nova';
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/Proxima-Nova-Bold.woff) format('woff');
}

@font-face {
  font-family: 'Proxima Nova';
  font-style: normal;
  font-weight: 800;
  src: url(../fonts/Proxima-Nova-Extrabold.woff) format('woff');
}

// =====================
// common
// =====================

body {
  position: relative;
  font: 400 18px / 22px 'Proxima Nova';
  color: #4D4D4D;
}

a {
  text-decoration: none;
}

// Clearfix
//
// For modern browsers
// 1. The space content is one way to avoid an Opera bug when the
//    contenteditable attribute is included anywhere else in the document.
//    Otherwise it causes space to appear at the top and bottom of elements
//    that are clearfixed.
// 2. The use of `table` rather than `block` is only necessary if using
//    `:before` to contain the top-margins of child elements.
//
// Source: http://nicolasgallagher.com/micro-clearfix-hack/

.clearfix() {
  &:before,
  &:after {
    content: " "; // 1
    display: table; // 2
  }

  &:after {
    clear: both;
  }
}

.make-center(@element-width) {
  margin-left: auto;
  margin-right: auto;
  width: @element-width;
}

.wrapper {
  margin-left: auto;
  margin-right: auto;
  width: 1074px;
  padding-left: 25px;
  padding-right: 25px;
}

.row {
  .clearfix();
}

.col {
  float: left;
  width: 50%;
}

.btn {
  display: inline-block;
  border: none;
  border-radius: 5px;
  padding: 14px 27px 11px;
  background: @color-blue;
  color: #fff;
  font: 600 22px / 24px 'Proxima Nova';
  text-align: center;
  text-transform: uppercase;

  &.transparent {
    background: transparent;
    border: 3px solid white;
    transition: background .1s, color .1s;

    &:hover {
      background: #fff;
      border-color: #fff;
      color: @color-blue;
      box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.2);
    }
  }
}

// =====================
// block specific
// =====================

header.page {
  .wrapper {
    .clearfix();

    position: relative;
    min-height: 124px;

    .logo {
      position: absolute;
      bottom: 13px;
      display: block;
      width: 355px;
      height: 45px;
      background: url(../img/logo-header.png) no-repeat 50% 50%;
    }

    .right-block {
      .clearfix();

      position: absolute;
      bottom: 20px;
      right: 25px;

      .tel {
        text-align: right;
        font-size: 30px;
        color: @color-blue;

        .prefix {
          font-size: 20px;
        }
      }

      ul.nav {
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
        width: 365px;

        li {
          a {
            font-size: 20px;
            font-weight: 600;
            color: #000000;

            &:hover {
              color: @color-blue;
              text-decoration: underline;
            }
          }
        }
      }
    }
  }


}

section.distributor {
  padding-top: 54px;
  padding-bottom: 87px;
  background: url(../img/bg-cubes-blue.png);
  color: #ffffff;

  .col:first-child {
    position: relative;
    top: 37px;
    width: 252px;

    .logo {
      width: 160px;
      height: 75px;
      background: url(../img/logo-distributor.svg);
    }

    h3 {
      margin-top: 23px;
      font-size: 18px;
      line-height: 1;
      font-weight: 800;
    }

    p {
      margin-top: 20px;

      a {
        color: #ffffff;
      }
    }
  }

  .col:last-child {
    width: 772px;

    h1 {
      display: inline-block;
      border-top: 13px solid #fff;
      padding-top: 42px;
      font-size: 38px;
      font-weight: 700;
      line-height: 40px;
    }

    p:first-of-type {
      margin-top: 37px;
    }

    p:last-of-type {
      margin-top: 20px;
    }
  }
}

footer.page {
  padding-top: 34px;
  background: #162830;

  .content {
    .col {
      float: left;
      width: 512px;

      a {
        display: block;
        margin-top: 20px;
        color: rgba(255, 255, 255, 0.7);
        font: 400 15px / 1 'Proxima Nova';

        &:hover {
          text-decoration: underline;
        }
      }

      h2 {
        &:nth-of-type(2) {
          margin-top: 30px;
        }

        a {
          margin-top: 0;
          color: rgba(255, 255, 255, 1);
          font: 400 18px / 1 'Proxima Nova';
        }
      }
    }

    .col:nth-of-type(1) {
      .logo {
        width: 160px;
        height: 30px;
        margin-top: 0;
        background: url(../img/logo-footer.svg);
        opacity: .8;

        &:hover {
          opacity: 1;
        }
      }

      .map:hover,
      .phone:hover {
        text-decoration: none;
      }

      .map {
        position: relative;
        margin-top: 18px;
        line-height: 18px;

        &:before {
          content: "";
          position: absolute;
          display: inline-block;
          width: 8px;
          height: 11px;
          left: -15px;
          top: 2px;
          background: url(../img/icon-map-marker.svg) no-repeat;
        }
      }

      .phone {
        position: relative;
        margin-top: 18px;

        &:before {
          content: "";
          position: absolute;
          display: inline-block;
          width: 11px;
          height: 11px;
          left: -18px;
          top: 2px;
          background: url(../img/icon-phone.svg) no-repeat;
        }
      }

      .mail {
        position: relative;
        margin-top: 18px;
        letter-spacing: -0.05em;

        &:before {
          content: "";
          position: absolute;
          display: inline-block;
          width: 10px;
          height: 8px;
          left: -17px;
          top: 5px;
          background: url(../img/icon-mail.svg) no-repeat;
        }
      }
    }

    .col:nth-of-type(2) {
      a {
        font-size: 20px;
        font-weight: 600;
        color: #ffffff;

        &:nth-child(1) {
          margin-top: 46px;
        }

        &:nth-child(2) {
          margin-top: 14px;
        }

        &:nth-child(3) {
          margin-top: 13px;
        }
      }
    }
  }

  .bottom-line {
    margin-top: 27px;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    padding: 22px 0;
    color: #fff;
    font: 400 15px / 1 'Proxima Nova';

    .copyright {
      float: left;
    }

    .lang {
      float: right;
    }
  }
}

body.index {
  section.billboard {

    // ---- animations

    .fade-in {
      animation-name: fade-in;
      animation-duration: .5s;
      animation-delay: .25s;
      animation-fill-mode: forwards;
    }

    .fade-out {
      animation-name: fade-out;
      animation-duration: .5s;
      animation-fill-mode: forwards;
    }

    @keyframes fade-in {
      0% {
        opacity: 0;
      }

      100% {
        opacity: 1;
      }
    }

    @keyframes fade-out {
      0% {
        opacity: 1;
      }

      100% {
        opacity: 0;
      }
    }

    // ----

    padding-top: 54px;
    padding-bottom: 70px;
    color: #ffffff;
    background: url(../img/bg-cubes-blue.png);

    .bar {
      height: 13px;
      background: #fff;
    }

    h1 {
      margin-top: 40px;
      margin-bottom: 40px;
      font-size: 38px;
      font-weight: 700;
      line-height: 40px;
    }

    p {
      margin-top: 20px;
      font-size: 18px;
      line-height: 22px;
      font-weight: 400;
    }

    .footer {
      .clearfix();

      position: relative;
      margin-top: 50px;

      .btn.learn-more {
        width: 256px;
        opacity: 0;
      }

      .product-labels {
        .label {
          position: absolute;
          right: 0;
          bottom: 13px;
          height: 32px;
          opacity: 0;

          &.brs {
            width: 234px;
            background: url(../img/label-brs.svg);
          }

          &.evs {
            width: 232px;
            background: url(../img/label-evs.svg);
          }

          &.ghs {
            width: 242px;
            background: url(../img/label-ghs.svg);
          }

          &.gsr {
            width: 237px;
            background: url(../img/label-gsr.svg);
          }

          &.lpr {
            width: 228px;
            background: url(../img/label-lpr.svg);
          }

          &.ran {
            width: 239px;
            background: url(../img/label-ran.svg);
          }

          &.stm {
            width: 238px;
            background: url(../img/label-stm.svg);
          }
        }
      }
    }

    .product-pics {
      @slider-height: 592px;
      @translate-step: 30%;

      position: relative;
      width: 100%;
      height: @slider-height;

      .bg-shadow {
        width: 100%;
        height: @slider-height;
        background: url(../img/bg-product-shadow.png) no-repeat 50% 50%;
        opacity: 0;
      }

      .pic {
        position: absolute;
        top: 0;
        width: 100%;
        height: @slider-height;
        opacity: 0;

        animation-duration: .5s;
        animation-fill-mode: forwards;

        &.slide-in {
          animation-name: slide-in;
          animation-duration: .5s;
          animation-delay: .25s;
          animation-fill-mode: forwards;
        }

        &.slide-out {
          animation-name: slide-out;
          animation-duration: .5s;
          animation-fill-mode: forwards;
        }

        @keyframes slide-out {
          0% {
            opacity: 1;
          }

          100% {
            opacity: 0;
            transform: translateX(-@translate-step) scale(.9);
          }
        }

        @keyframes slide-in {
          0% {
            opacity: 0;
            transform: translateX(@translate-step) scale(.9);
          }

          100% {
            opacity: 1;
            transform: translateX(0%) scale(1);
          }
        }

        &.brs {
          background: url(../img/brs_standard.png) no-repeat 50% 50%;
        }

        &.evs {
          background: url(../img/evs_standard.png) no-repeat 50% 50%;
        }

        &.ghs {
          background: url(../img/ghs_standard.png) no-repeat 50% 50%;
        }

        &.gsr {
          background: url(../img/gsr_standard.png) no-repeat 50% 50%;
        }

        &.lpr {
          background: url(../img/lpr_standard.png) no-repeat 50% 50%;
        }

        &.ran {
          background: url(../img/ran_standard.png) no-repeat 50% 50%;
        }

        &.stm {
          background: url(../img/stm_standard.png) no-repeat 50% 50%;
        }
      }
    }
  }

  section.numbers {
     padding-top: 54px;
     padding-bottom: 69px;
     background: url(../img/bg-cubes-gray.png);

     .col.digits {
       color: @color-blue;

       .row {
         &:nth-child(1) {
           height: 60px;
         }

         &:nth-child(2) {
           height: 124px;
         }

         &:nth-child(3),
         &:nth-child(4) {
           height: 127px;
         }

         .num {
           font-size: 90px;
           line-height: 65px;
           font-weight: 800;

           &.pull-ones {
             position: relative;
             left: -10px;
           }

           &.pull-fives {
             position: relative;
             left: -5px;
           }
         }

         .descr {
           font-size: 18px;
           line-height: 17px;
           font-weight: 600;
           text-transform: uppercase;
           letter-spacing: .05em;
         }
       }
     }

     .col.text {
       .bar {
         margin-bottom: 40px;
         height: 13px;
         background: @color-blue;
       }

       h1 {
         margin-top: 40px;
         margin-bottom: 44px;
         font-size: 38px;
         font-weight: 700;
         line-height: 40px;
         color: @color-blue;
       }

       p {
         margin-top: 20px;
       }
     }
   }
}

body.product-list {
  section.product {
    padding-top: 54px;
    padding-bottom: 70px;
    color: #ffffff;
    background: url(../img/bg-cubes-blue.png);

    .col.text {
      .bar {
        height: 13px;
        background: #fff;
      }

      h1 {
        margin-top: 40px;
        margin-bottom: 25px;
        font-size: 38px;
        font-weight: 700;
        line-height: 40px;
      }

      .label {
        width: 485px;
        height: 110px;
      }

      h2 {
        margin-top: 22px;
        font-size: 29px;
        line-height: 28px;
      }

      .btn {
        margin-top: 51px;
      }
    }

    .col.visual {
      .product-pic {
        @slider-height: 592px;
        @translate-step: 30%;

        position: relative;
        width: 100%;
        height: @slider-height;

        .bg-shadow {
          width: 100%;
          height: @slider-height;
          background: url(../img/bg-product-shadow.png) no-repeat 50% 50%;
        }

        .image {
          position: absolute;
          top: 0;
          width: 100%;
          height: @slider-height;
        }
      }
    }

    &.brs {
      .col.text {
        .label {
          background: url(../img/label-brs.svg) no-repeat 50% 50%;
          background-size: 485px 110px;
        }
      }

      .col.visual {
        .product-pic {
          .image {
            background: url(../img/brs_standard.png) no-repeat 50% 50%;
          }
        }
      }
    }

    &.evs {
      .col.text {
        .label {
          background: url(../img/label-evs.svg) no-repeat 50% 50%;
          background-size: 485px 110px;
        }
      }

      .col.visual {
        .product-pic {
          .image {
            background: url(../img/evs_standard.png) no-repeat 50% 50%;
          }
        }
      }
    }

    &.ghs {
      .col.text {
        .label {
          background: url(../img/label-ghs.svg) no-repeat 50% 50%;
          background-size: 485px 110px;
        }
      }

      .col.visual {
        .product-pic {
          .image {
            background: url(../img/ghs_standard.png) no-repeat 50% 50%;
          }
        }
      }
    }

    &.gsr {
      .col.text {
        .label {
          background: url(../img/label-gsr.svg) no-repeat 50% 50%;
          background-size: 485px 110px;
        }
      }

      .col.visual {
        .product-pic {
          .image {
            background: url(../img/gsr_standard.png) no-repeat 50% 50%;
          }
        }
      }
    }

    &.lpr {
      .col.text {
        .label {
          background: url(../img/label-lpr.svg) no-repeat 50% 50%;
          background-size: 485px 110px;
        }
      }

      .col.visual {
        .product-pic {
          .image {
            background: url(../img/lpr_standard.png) no-repeat 50% 50%;
          }
        }
      }
    }

    &.ran {
      .col.text {
        .label {
          background: url(../img/label-ran.svg) no-repeat 50% 50%;
          background-size: 485px 110px;
        }
      }

      .col.visual {
        .product-pic {
          .image {
            background: url(../img/ran_standard.png) no-repeat 50% 50%;
          }
        }
      }
    }

    &.stm {
      .col.text {
        .label {
          background: url(../img/label-stm.svg) no-repeat 50% 50%;
          background-size: 485px 110px;
        }
      }

      .col.visual {
        .product-pic {
          .image {
            background: url(../img/stm_standard.png) no-repeat 50% 50%;
          }
        }
      }
    }
  }
}

body.product {
  section.billboard {
    padding-top: 54px;
    padding-bottom: 70px;
    color: #ffffff;
    background: url(../img/bg-cubes-blue.png);

    .col:nth-child(1) {
      .bar {
        height: 13px;
        background: #fff;
      }

      h1 {
        margin-top: 40px;
        margin-bottom: 25px;
        font-size: 38px;
        font-weight: 700;
        line-height: 40px;
      }

      .label {
        width: 485px;
        height: 110px;
      }

      h2 {
        margin-top: 22px;
        font-size: 29px;
        line-height: 28px;
      }

      .btn {
        margin-top: 51px;
        width: 476px;
      }
    }

    .col:nth-child(2) {
      .product-pic {
        @slider-height: 592px;
        @translate-step: 30%;

        position: relative;
        width: 100%;
        height: @slider-height;

        .bg-shadow {
          width: 100%;
          height: @slider-height;
          background: url(../img/bg-product-shadow.png) no-repeat 50% 50%;
        }

        .image {
          position: absolute;
          top: 0;
          width: 100%;
          height: @slider-height;
        }
      }
    }
  }

  section.descr {
    padding-top: 65px;
    padding-bottom: 55px;

    .col:nth-child(1) {
      ul {
        margin-top: 5px;
        border: 13px solid @color-blue;
        width: 476px;
        padding: 53px 60px;

        li {
          position: relative;

          &:before {
            content: "—";
            position: absolute;
            left: -22px;
            top: -1px;
          }

          &:not(:first-child) {
            margin-top: 27px;
          }
        }
      }
    }

    .col:nth-child(2) {
      p:not(:first-child) {
        margin-top: 20px;
      }
    }
  }

  section.product-versions {
    padding-top: 34px;
    padding-bottom: 43px;
    background: url(../img/bg-cubes-gray.png);

    .row:not(:first-child) {
      margin-top: 20px;
    }

    .col.version {
      .image {
        height: 566px;
      }

      h1 {
        display: inline-block;
        margin-top: 33px;
        border-top: 13px solid @color-blue;
        padding-top: 42px;
        font-size: 38px;
        font-weight: 700;
        line-height: 40px;
        color: @color-blue;
      }

      p {
        margin-top: 20px;
        width: 475px;
      }
    }
  }

  section.modules {
    padding-top: 70px;

    h1 {
      display: inline-block;
      border-top: 13px solid @color-blue;
      padding-top: 42px;
      font-size: 38px;
      font-weight: 700;
      line-height: 40px;
      color: @color-blue;
    }

    p {
      margin-top: 38px;
      width: 475px;
    }

    ul {
      margin-top: 37px;
      padding-left: 22px;

      li {
        position: relative;

        &:before {
          content: "—";
          position: absolute;
          left: -22px;
          top: -1px;
        }

        &:not(:first-child) {
          margin-top: 27px;
        }
      }
    }

    .row {
      margin-top: 65px;

      .module {
        float: left;
        width: 50%;

        .image {
          width: 210px;
          height: 210px;
          background: #000;
        }

        h3 {
          margin-top: 16px;
          padding-right: 25px;
          font-size: 17px;
          line-height: 19px;
          color: #000;
        }

        p {
          margin-top: 16px;
          width: 100%;
          padding-right: 35px;
          font-size: 15px;
          line-height: 18px;
        }
      }
    }
  }

  section.wrap-up {
    margin-top: 90px;
    margin-bottom: 113px;

    p {
      margin-top: 20px;
      padding-right: 20px;
    }

    ul {
      margin-top: 20px;
      padding-left: 22px;

      li {
        position: relative;

        &:before {
          content: "—";
          position: absolute;
          left: -22px;
          top: -1px;
        }

        &:not(:first-child) {
          margin-top: 27px;
        }
      }
    }
  }
}

body.product.lpr {
  section.billboard {
    .col:nth-child(1) {
      .label {
        background: url(../img/label-lpr.svg) no-repeat 50% 50%;
        background-size: 485px 110px;
      }
    }

    .col:nth-child(2) {
      .product-pic {
        .image {
          background: url(../img/lpr_standard.png) no-repeat 50% 50%;
        }
      }
    }
  }

  section.product-versions {
    .row .col.version.basic .image {
      background: url(../img/lpr_basic.png) no-repeat 50% 50%;
    }

    .row .col.version.standard .image {
      background: url(../img/lpr_standard.png) no-repeat 50% 50%;
      background-size: 415px 566px;
    }

    .row .col.version.hybrid .image {
      background: url(../img/lpr_hybrid.png) no-repeat 50% 50%;
    }
  }

  section.modules {
    .row:nth-of-type(1) {
      .col:nth-of-type(1) {
        .module:nth-of-type(1) .image {
          background: url(../img/laparo_module_1.png) no-repeat 50% 50%;
        }

        .module:nth-of-type(2) .image {
          background: url(../img/laparo_module_2.png) no-repeat 50% 50%;
        }
      }

      .col:nth-of-type(2) {
        .module:nth-of-type(1) .image {
          background: url(../img/laparo_module_3.png) no-repeat 50% 50%;
        }

        .module:nth-of-type(2) .image {
          background: url(../img/laparo_module_4.png) no-repeat 50% 50%;
        }
      }
    }

    .row:nth-of-type(2) {
      .col:nth-of-type(1) {
        .module:nth-of-type(1) .image {
          background: url(../img/laparo_module_5.png) no-repeat 50% 50%;
        }

        .module:nth-of-type(2) .image {
          background: url(../img/laparo_module_6.png) no-repeat 50% 50%;
        }
      }

      .col:nth-of-type(2) {
        .module:nth-of-type(1) .image {
          background: url(../img/laparo_module_7.png) no-repeat 50% 50%;
        }

        .module:nth-of-type(2) .image {
          background: url(../img/laparo_module_8.png) no-repeat 50% 50%;
        }
      }
    }

    .row:nth-of-type(3) {
      .col:nth-of-type(1) {
        .module:nth-of-type(1) .image {
          background: url(../img/laparo_module_9.png) no-repeat 50% 50%;
        }

        .module:nth-of-type(2) .image {
          background: url(../img/laparo_module_10.png) no-repeat 50% 50%;
        }
      }
    }
  }
}

body.product.evs {
  section.billboard {
    .col:nth-child(1) {
      .label {
        background: url(../img/label-evs.svg) no-repeat 50% 50%;
        background-size: 485px 110px;
      }
    }

    .col:nth-child(2) {
      .product-pic {
        .image {
          background: url(../img/evs_standard.png) no-repeat 50% 50%;
        }
      }
    }
  }

  section.product-versions {
    .row .col.version.basic .image {
      background: url(../img/evs_basic.png) no-repeat 50% 50%;
    }

    .row .col.version.standard .image {
      background: url(../img/evs_standard.png) no-repeat 50% 50%;
    }

    .row .col.version.hybrid .image {
      background: url(../img/evs_hybrid.png) no-repeat 50% 50%;
    }
  }

  section.modules {
    .row:nth-of-type(1) {
      .col:nth-of-type(1) {
        .module:nth-of-type(1) .image {
          background: url(../img/product-evs_learn-module-1.jpg) no-repeat 50% 50%;
        }

        .module:nth-of-type(2) .image {
          background: url(../img/product-evs_learn-module-2.jpg) no-repeat 50% 50%;
        }
      }

      .col:nth-of-type(2) {
        .module:nth-of-type(1) .image {
          background: url(../img/product-evs_learn-module-3.jpg) no-repeat 50% 50%;
        }

        .module:nth-of-type(2) .image {
          background: url(../img/product-evs_learn-module-4.jpg) no-repeat 50% 50%;
        }
      }
    }

    .row:nth-of-type(2) {
      .col:nth-of-type(1) {
        .module:nth-of-type(1) .image {
          background: url(../img/product-evs_learn-module-5.jpg) no-repeat 50% 50%;
        }

        .module:nth-of-type(2) .image {
          background: url(../img/product-evs_learn-module-6.jpg) no-repeat 50% 50%;
        }
      }

      .col:nth-of-type(2) {
        .module:nth-of-type(1) .image {
          background: url(../img/product-evs_learn-module-7.jpg) no-repeat 50% 50%;
        }

        .module:nth-of-type(2) .image {
          background: url(../img/product-evs_learn-module-8.jpg) no-repeat 50% 50%;
        }
      }
    }
  }
}

body.product.brs {
  section.billboard {
    .col:nth-child(1) {
      .label {
        background: url(../img/label-brs.svg) no-repeat 50% 50%;
        background-size: 485px 110px;
      }
    }

    .col:nth-child(2) {
      .product-pic {
        .image {
          background: url(../img/brs_standard.png) no-repeat 50% 50%;
        }
      }
    }
  }

  section.product-versions {
    .row .col.version.standard .image {
      background: url(../img/brs_standard.png) no-repeat 50% 50%;
    }
  }

  section.modules {
    .row:nth-of-type(1) {
      .col:nth-of-type(1) {
        .module:nth-of-type(1) .image {
          background: url(../img/product-bronch_learn-module-1.jpg) no-repeat 50% 50%;
        }

        .module:nth-of-type(2) .image {
          background: url(../img/product-bronch_learn-module-2.jpg) no-repeat 50% 50%;
        }
      }

      .col:nth-of-type(2) {
        .module:nth-of-type(1) .image {
          background: url(../img/product-bronch_learn-module-3.jpg) no-repeat 50% 50%;
        }

        .module:nth-of-type(2) .image {
          background: url(../img/product-bronch_learn-module-4.jpg) no-repeat 50% 50%;
        }
      }
    }

    .row:nth-of-type(2) {
      .col:nth-of-type(1) {
        .module:nth-of-type(1) .image {
          background: url(../img/product-bronch_learn-module-5.jpg) no-repeat 50% 50%;
        }
      }
    }
  }
}

body.product.ghs {
  section.billboard {
    .col:nth-child(1) {
      .label {
        background: url(../img/label-ghs.svg) no-repeat 50% 50%;
        background-size: 485px 110px;
      }
    }

    .col:nth-child(2) {
      .product-pic {
        .image {
          background: url(../img/ghs_standard.png) no-repeat 50% 50%;
        }
      }
    }
  }

  section.product-versions {
    .row .col.version.basic .image {
      background: url(../img/ghs_basic.png) no-repeat 50% 50%;
    }

    .row .col.version.standard .image {
      background: url(../img/ghs_standard.png) no-repeat 50% 50%;
    }
  }

  section.modules {
    .row:nth-of-type(1) {
      .col:nth-of-type(1) {
        .module:nth-of-type(1) .image {
          background: url(../img/product-hyst_learn-module-1.jpg) no-repeat 50% 50%;
        }

        .module:nth-of-type(2) .image {
          background: url(../img/product-hyst_learn-module-2.jpg) no-repeat 50% 50%;
        }
      }

      .col:nth-of-type(2) {
        .module:nth-of-type(1) .image {
          background: url(../img/product-hyst_learn-module-3.jpg) no-repeat 50% 50%;
        }

        .module:nth-of-type(2) .image {
          background: url(../img/product-hyst_learn-module-4.jpg) no-repeat 50% 50%;
        }
      }
    }

    .row:nth-of-type(2) {
      .col:nth-of-type(1) {
        .module:nth-of-type(1) .image {
          background: url(../img/product-hyst_learn-module-5.jpg) no-repeat 50% 50%;
        }
      }
    }
  }
}

body.product.gsr {
  section.billboard {
    .col:nth-child(1) {
      .label {
        background: url(../img/label-gsr.svg) no-repeat 50% 50%;
        background-size: 485px 110px;
      }
    }

    .col:nth-child(2) {
      .product-pic {
        .image {
          background: url(../img/gsr_standard.png) no-repeat 50% 50%;
        }
      }
    }
  }

  section.product-versions {
    .row .col.version.standard .image {
      background: url(../img/gsr_standard.png) no-repeat 50% 50%;
    }
  }

  section.modules {
    .row:nth-of-type(1) {
      .col:nth-of-type(1) {
        .module:nth-of-type(1) .image {
          background: url(../img/product-endo_learn-module-1.jpg) no-repeat 50% 50%;
        }

        .module:nth-of-type(2) .image {
          background: url(../img/product-endo_learn-module-2.jpg) no-repeat 50% 50%;
        }
      }

      .col:nth-of-type(2) {
        .module:nth-of-type(1) .image {
          background: url(../img/product-endo_learn-module-3.jpg) no-repeat 50% 50%;
        }

        .module:nth-of-type(2) .image {
          background: url(../img/product-endo_learn-module-4.jpg) no-repeat 50% 50%;
        }
      }
    }

    .row:nth-of-type(2) {
      .col:nth-of-type(1) {
        .module:nth-of-type(1) .image {
          background: url(../img/product-endo_learn-module-5.jpg) no-repeat 50% 50%;
        }

        .module:nth-of-type(2) .image {
          background: url(../img/product-endo_learn-module-6.jpg) no-repeat 50% 50%;
        }
      }

      .col:nth-of-type(2) {
        .module:nth-of-type(1) .image {
          background: url(../img/product-endo_learn-module-7.jpg) no-repeat 50% 50%;
        }

        .module:nth-of-type(2) .image {
          background: url(../img/product-endo_learn-module-8.jpg) no-repeat 50% 50%;
        }
      }
    }
  }
}

body.product.stm {
  section.billboard {
    .col:nth-child(1) {
      .label {
        background: url(../img/label-stm.svg) no-repeat 50% 50%;
        background-size: 485px 110px;
      }

      .btn {
        margin-top: 78px;
      }
    }

    .col:nth-child(2) {
      .product-pic {
        .image {
          background: url(../img/stm_standard.png) no-repeat 50% 50%;
        }
      }
    }
  }

  section.descr {
    .wrapper {
      position: relative;
      height: 685px;

      .bg-image {
        position: absolute;
        right: 24px;
        bottom: -55px;
        width: 512px;
        height: 297px;
        background: url(../img/bg-stm-descr.png) no-repeat 50% 50%;
      }
    }
  }

  section.product-versions {
    .row .col.version.standard .image {
      background: url(../img/stm_standard.png) no-repeat 50% 50%;
    }

    .row .col.version.hybrid .image {
      background: url(../img/stm_hybrid.png) no-repeat 50% 50%;
    }
  }
}

body.product.ran {
  section.billboard {
    .col:nth-child(1) {
      .label {
        background: url(../img/label-ran.svg) no-repeat 50% 50%;
        background-size: 485px 110px;
      }

      .btn {
        margin-top: 78px;
      }
    }

    .col:nth-child(2) {
      .product-pic {
        .image {
          background: url(../img/ran_standard.png) no-repeat 50% 50%;
        }
      }
    }
  }

  section.product-versions {
    .row .col.version.main .image {
      position: relative;
      width: 1024px;
      background: url(../img/ran_main.png) no-repeat 50% 50%;
    }
  }
}

body.about {
  section.about-descr {
    padding-top: 54px;
    padding-bottom: 69px;
    background: url(../img/bg-cubes-gray.png);

    .col {
      min-height: 1px;
    }

    .col.image {
      color: @color-blue;

      .row {
        &:nth-child(1) {
          height: 60px;
        }

        &:nth-child(2) {
          height: 124px;
        }

        &:nth-child(3),
        &:nth-child(4) {
          height: 127px;
        }

        .num {
          font-size: 90px;
          line-height: 65px;
          font-weight: 800;

          &.pull-ones {
            position: relative;
            left: -10px;
          }

          &.pull-fives {
            position: relative;
            left: -5px;
          }
        }

        .descr {
          font-size: 18px;
          line-height: 17px;
          font-weight: 600;
          text-transform: uppercase;
          letter-spacing: .05em;
        }
      }
    }

    .col.text {
      .bar {
        margin-bottom: 40px;
        height: 13px;
        background: @color-blue;
      }

      h1 {
        margin-top: 40px;
        margin-bottom: 44px;
        font-size: 38px;
        font-weight: 700;
        line-height: 40px;
        color: @color-blue;
      }

      p {
        margin-top: 20px;
      }
    }
  }

  section.experts {
    padding-top: 110px;
    padding-bottom: 110px;

    .row {
      &:not(:first-child) {
        margin-top: 95px;
      }

      .col.image {
        width: 400px;
        text-align: center;

        .pic {
          margin: auto;
          width: 194px;
          height: 194px;
        }

        h3 {
          margin-top: 23px;
          font-size: 18px;
        }

        p {
          font-size: 18px;
          line-height: 22px;
        }
      }

      &:nth-child(1) .col.image .pic {
        background: url(../img/about_expert-1.png) no-repeat 50% 50%;
      }

      &:nth-child(2) .col.image .pic {
        background: url(../img/about_expert-2.png) no-repeat 50% 50%;
      }

      .col.text {
        width: 624px;

        p {
          font-size: 22px;
          line-height: 29px;
          font-weight: 300;
          font-style: italic;
        }
      }

      &:nth-child(2) .col.text {
        margin-top: 55px;
      }
    }
  }
}

body.contacts {
  section.map {
    position: relative;
    background: #ccc;

    .map-container {
      position: relative;

      .map-canvas {
        /* 100vh - header_height - footer_height  */
        /*height: calc(~"100vh - 142px - 350px");*/
        height: 400px;
      }

      //.overlay {
      //  position: absolute;
      //  left: calc(~"50% - 490px");
      //  bottom: 50px;
      //  display: inline-block;
      //  padding: 8px 10px;
      //  background: #fff;
      //  box-shadow: @box-shadow-standard;
      //
      //  h1 {
      //    .header-blue();
      //    margin-bottom: 7px;
      //  }
      //
      //  p {
      //    font: 400 1.07rem / 1.28rem @open-sans;
      //  }
      //}
    }
  }

  section.contacts-descr {
    padding-top: 54px;
    padding-bottom: 69px;
    background: url(../img/bg-cubes-gray.png);

    .col {
      min-height: 1px;
    }

    .col.image {
      img {
        position: relative;
        width: 462px;
        height: auto;
        margin-top: 141px;
      }
    }

    .col.text {
      .bar {
        margin-bottom: 40px;
        height: 13px;
        background: @color-blue;
      }

      h1 {
        margin-top: 40px;
        margin-bottom: 44px;
        font-size: 38px;
        font-weight: 700;
        line-height: 40px;
        color: @color-blue;
      }

      p {
        margin-top: 20px;
      }
    }
  }
}